aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1663850918823/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
altair==4.2.0
anyio==3.3.4
appengine-python-standard==0.2.2
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500366499/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1660605382950/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker==1.5
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854242877/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
certifi==2022.9.24
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1666184005339/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click==8.0.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
commonmark==0.9.1
conda==22.9.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1663666418037/work
constantly==15.1.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1665535619993/work
cycler==0.10.0
datasets==2.6.1
dateparser==1.1.0
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1660619107463/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill==0.3.5.1
docopt==0.6.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1665301981797/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
filelock==3.8.0
Flask==2.0.2
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
frozendict==2.0.6
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1659557165369/work
fsspec==2022.10.0
gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.29
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1665207588296/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1666033103415/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1658759191372/work
google-cloud-firestore @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-firestore_1631039522109/work
google-cloud-pubsub==2.9.0
google-cloud-storage==1.42.3
google-colab @ file:///home/conda/feedstock_root/build_artifacts/google-colab_1613339584002/work
google-crc32c==1.3.0
google-resumable-media==2.0.3
googleapis-common-protos @ file:///Users/runner/miniforge3/conda-bld/googleapis-common-protos-feedstock_1657690555273/work
grpc-google-iam-v1==0.12.3
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1639715786395/work
grpcio-status @ file:///home/conda/feedstock_root/build_artifacts/grpcio-status_1636595134024/work
gunicorn==20.1.0
huggingface-hub==0.10.1
hyperlink==21.0.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252883118/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
incremental==21.3.0
influxdb==5.3.1
influxdb-client==1.14.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1666281760713/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1662481590184/work
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.1.0
json5==0.9.6
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter-server==1.11.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1666251909632/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1658332720484/work
jupyterlab==3.2.1
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-server==2.8.2
kiwisolver==1.3.2
libcst==0.3.23
llvmlite==0.37.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737598016/work
matplotlib==3.4.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844817800/work
mock==4.0.3
msgpack==1.0.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1648882473246/work
multiprocess==0.70.13
mypy==0.931
mypy-extensions==0.4.3
nbclassic==0.3.3
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1646999386773/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1648465200908/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1665426034066/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
nltk==3.6.5
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1633674481909/work
numba-stats==1.1.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649289817563/work
openai==0.25.0
openpyxl==3.0.10
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.5.1
pandas-stubs==1.5.2.221124
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.4.0
pipreqs==0.4.11
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1630471917451/work
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1648772897788/work
portpicker @ file:///home/conda/feedstock_root/build_artifacts/portpicker_1654764659443/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1665692535292/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1662384672173/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1661885211127/work
protobuf==3.20.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1618863975118/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649384941891/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydeck==0.8.0b4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013408545/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==6.2.5
python-binance==0.7.9
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1666198565857/work
pytz-deprecation-shim==0.1.0.post0
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1663830604151/work
regex==2021.10.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-unixsocket==0.2.0
responses==0.18.0
rich==12.6.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464548430/work
ruamel.yaml==0.15.100
Rx==3.2.0
sacremoses==0.0.53
scikit-learn==1.1.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357575279/work
seaborn==0.12.1
semver==2.13.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
service-identity==21.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1664126450622/work
statsmodels==0.13.5
streamlit==1.13.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1663807083684/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1664482261038/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
threadpoolctl==3.1.0
tokenizers==0.13.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==1.12.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1656938068018/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
transformers==4.23.1
Twisted==21.7.0
txaio==21.2.1
types-pytz==2022.6.0.1
typing==3.7.4.3
typing-inspect==0.7.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2021.4
tzlocal==4.0.1
ujson==5.4.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
validators==0.20.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
xxhash==3.1.0
yarg==0.1.9
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1648966561632/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1665306627898/work
zope.interface==5.4.0
